<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.example.factorymethod"/>

    <!-- 생성자 주입 방식 -->
    <bean id="helloServiceConstructor"
        class="com.example.factorymethod.HelloServiceImpl">
        <constructor-arg value="World (Constructor)"/>
    </bean>

    <!-- 정적 팩토리 메서드 방식 -->
    <bean id="helloServiceFactoryMethod"
        class="com.example.factorymethod.HelloService"
        factory-method="createInstance">
        <constructor-arg value="World (Factory Method)"/>
    </bean>

    <!-- 인스턴스 팩토리 메서드 방식 -->
    <bean id="helloServiceInstanceFactory"
        factory-bean="helloServiceFactory"
        factory-method="createInstance">
        <constructor-arg value="World (Instance Factory)"/>
    </bean>

</beans>